@use "sass:math";
@import "./mixins.scss";

.dropdownWrapper {
  position: relative;
}

.dropdownButton{
  background: white;
  border: 1px solid #ddd;
  color: #333;
  border-radius: 8px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @include adaptiveValue("gap", 8, 4, 0, 1400, 320);
  @include adaptiveValue("padding", 12, 4, 0, 1400, 320);
  @include adaptiveValue("min-width", 170, 90, 0, 1400, 320);
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
  @include adaptiveValue("height", 50, 30, 0, 1400, 320);
  @include adaptiveValue("font-size", 14, 8, 0, 1400, 320);
  font-weight: 400;
}

.dropdownButton:hover {
  border-color: #d9e7ff;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.4);
}

.active {
  border-radius: 8px 8px 0 0;
}
.inlineBtn {
  border-radius: 0;
}

.icon {
    @include adaptiveValue("width", 16, 10, 0, 1400, 320);
    @include adaptiveValue("height", 16, 10, 0, 1400, 320);
    color: #666;
    transition: transform 0.3s ease;
}

.iconOpen {
  transform: rotate(180deg);
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  background: white;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  max-height: 0;
  opacity: 0;
  transform: translateY(-5px);
  overflow: hidden;

  transition: all 0.3s ease;
  z-index: 20;
}
.inline {
  position: static;
  max-height: none;
  opacity: 1;
  transform: none;
  overflow: visible;
  box-shadow: none;
  border-radius: 0;
}

.open {
  max-height: 700px;
  opacity: 1;
  transform: translateY(0);
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
}
