@use "sass:math";
@import "./styles/mixins.scss";

@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
#root {
  // max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

body {
  background: linear-gradient(180deg, #e3ffe7 0%, #d9e7ff 100%);
  margin: 0;
  padding: 0;
  color: #333;
  position: relative;
}
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}
header {
  background-color: #d9e7ff61;
}
header nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include adaptiveValue("height", 100, 80, 0, 600, 320);
  @include adaptiveValue("padding-left", 50, 10, 0, 1400, 320);
	@include adaptiveValue("padding-right", 50, 10, 0, 1400, 320);
  
}
.routerList {
  list-style: none;
  display: flex;
  @include adaptiveValue("gap", 30, 15, 0, 600, 320);
  margin: 0;
  padding: 0;
}
 
.link{
  text-decoration: none;
  color: #333;
  font-weight: 500;
  @include adaptiveValue("font-size", 16, 11, 0, 1400, 320);
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
  @include adaptiveValue("height", 50, 30, 0, 1400, 320);
  @include adaptiveValue("padding-left", 20, 10, 0, 1400, 320);
	@include adaptiveValue("padding-right", 20, 10, 0, 1400, 320);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  overflow: hidden;
}
.link:hover {
    border-color: #d9e7ff;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
    outline: none;
}
.link.active{
  background-color: #4a91e27d;
  color: white;
}

